---
title: ILEK - XML Test
---

  <% filepath  = 'ENEDIS.xml' %>
  <% builder   = Nokogiri::XML::Builder.new(encoding: 'UTF-8') do %>
    <% Index_C5 do %>
      <% Corps_de_fichier_par_PDL do %>
        <% Identifiant_Stable_PDL '01234567891234' %>
        <% Date_Debut_Consommation  '2018-08-27' %>
        <% Date_Fin_Consommation '2018-08-27' %>
        <% Index_Debut_Consommation '560' %>
        <% Index_A_Facturer '640' %>
        <% Consommation_Cadran '80' %>
        <% end %>
        <% Corps_de_fichier_par_PDL do %>
        <% Identifiant_Stable_PDL '01234567891235'  %>
        <% Date_Debut_Consommation  '2018-08-28' %>
        <% Date_Fin_Consommation '2018-08-28' %>
        <% Index_Debut_Consommation '36407' %>
        <% Index_A_Facturer '' %>
        <% Consommation_Cadran '0' %>
        <% end %>
      <% end %>
  <% end %>

<div class = "container">

<% File.open(filepath, 'wb') { |file| file.write(builder.to_xml) } %>
  <h1> Here should appear the results </h1>
  <table>
    <thead>
      <tr>
        <th>Identifiant_PDL</th>
        <th>Date_debut</th>
        <th>Date fin</th>
        <th>Index début</th>
        <th>Index fin</th>
        <th>Consommation</th>
      </tr>
    </thead>
    <tbody>
      <% file = File.open('ENEDIS.xml') %>
      <% document  = Nokogiri::XML(file) %>
      <% document.root.xpath('Corps_de_fichier_par_PDL').each do |fichier| %>
      <% Identifiant_PDL = fichier.xpath('Date_Debut_Consommation').text %>
      <% Date_Debut_Consommation = fichier.xpath('Date_Debut_Consommation').text %>
      <% Date_Fin_Consommation  = fichier.xpath('Date_Fin_Consommation').text %>
      <% Index_Debut_Consommation = fichier.xpath('Index_Debut_Consommation').text %>
      <% Index_A_Facturer =fichier.xpath('Index_A_Facturer').text %>
      <% Consommation_Cadran = fichier.xpath('Consommation_Cadran').text %>
        <tr>
          <td><%= "#{Identifiant_PDL}" %></td>
          <td><%= "#{Date_Debut_Consommation}" %></td>
          <td><%= "#{Date_Fin_Consommation}" %></td>
          <td><%= "#{Index_Debut_Consommation}" %></td>
          <td><%= "#{Index_A_Facturer}" %></td>
          <td><%= "#{Consommation_Cadran}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
