---
title: Le Wagon - Middleman - About
---
<h1> Here should appear the results </h1>

<div  class = "table-container">
  <table>
    <thead>
      <tr>
        <th>Identifiant_PDL</th>
        <th>Date_debut</th>
        <th>Date fin</th>
        <th>Index début</th>
        <th>Index fin</th>
        <th>Consommation</th>
      </tr>
    </thead>
    <tbody>
      <% file = File.open('data/ENEDIS.xml') %>
      <% document  = Nokogiri::XML(file) %>
      <% document.root.xpath('Corps_de_fichier_par_PDL').each do |fichier| %>
      <% Identifiant_PDL = fichier.xpath('Date_Debut_Consommation').text %>
      <% Date_Debut_Consommation = fichier.xpath('Date_Debut_Consommation').text %>
      <% Date_Fin_Consommation  = fichier.xpath('Date_Fin_Consommation').text %>
      <% Index_Debut_Consommation = fichier.xpath('Index_Debut_Consommation').text %>
      <% Index_A_Facturer =fichier.xpath('Index_A_Facturer').text %>
      <% Consommation_Cadran = fichier.xpath('Consommation_Cadran').text %>
        <tr>
          <td><%= "#{Identifiant_PDL}" %></td>
          <td><%= "#{Date_Debut_Consommation}" %></td>
          <td><%= "#{Date_Fin_Consommation}" %></td>
          <td><%= "#{Index_Debut_Consommation}" %></td>
          <td><%= "#{Index_A_Facturer}" %></td>
          <td><%= "#{Consommation_Cadran}" %></td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>



